/* Extra small devices (phones, 430px and down) */
/* @media only screen and (max-width: 430px) {
  header {
    font-size: large;
  }

  .icon {
    font-size: large;
  }

  #home {
    font-size: 4vh;
  }

  #work {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .works {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 100px);
    row-gap: 2em;
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 230px;
    justify-self: center;
  }

  .card-front > img {
    width: 100px;
    height: 100px;
    margin: 1em;
    align-self: center;
  }

  .card-front,
  .card-back > .name {
    font-size: medium;
  }

  .card-back > .description {
    font-size: small;
  }
} */

/* Smaller devices (phones, 600px and down) */
/* @media only screen and (min-width: 600px) {
  header {
    font-size: larger;
  }

  .icon {
    font-size: x-large;
  }

  #home {
    font-size: 4vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 300px;
    justify-self: center;
  }

  .card-front > img {
    width: 100px;
    height: 100px;
    margin: 1em;
    align-self: center;
  }

  .card-front,
  .card-back > .name {
    font-size: large;
  }

  .card-back > .description {
    font-size: medium;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  header {
    font-size: xx-large;
  }

  .icon {
    font-size: xx-large;
  }

  #home {
    font-size: 8vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 240px;
    min-height: 300px;
    height: 320px;
    justify-self: center;
  }

  .card-front > img {
    width: 100px;
    height: 100px;
    align-self: center;
  }

  .card-front,
  .card-back > .name {
    font-size: x-large;
  }

  .card-back > .description {
    font-size: medium;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  header {
    font-size: xx-large;
  }

  .icon {
    font-size: xx-large;
  }

  #home {
    font-size: 7vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 5em;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 300px;
    min-height: 350px;
    height: 380px;
    justify-self: center;
  }

  .card-front > img {
    width: 130px;
    height: 130px;
    align-self: center;
  }

  .card-front,
  .card-back > .name {
    font-size: large;
  }

  .card-back > .description {
    font-size: medium;
  }
} */
