:root {
  /* Fonts */
  --font-logo: "Cedarville Cursive", cursive;
  --font-title: "Pacifico", cursive;
  --font-body: "Raleway", sans-serif;

  /* Colors */
  --primary: #63a4ff;
  --secondary: #83eaf1;
  --background: linear-gradient(315deg, var(--primary) 0%, var(--secondary) 74%);
  --foreground: #fefefe;
  --surface: #f3feff;
  --shadow: #222222;
}
