@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-logo: "Cedarville Cursive", cursive;
  --font-title: "Pacifico", cursive;
  --background: dodgerblue;
  --surface: #fefefe;
  --shadow: #222222 1px 1px 2px;
}

@keyframes spinup {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0em);
  }

  50% {
    transform: translateY(0.2em);
  }

  100% {
    transform: translateY(0em);
  }
}

* {
  margin: 0em;
  padding: 0em;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: xx-large;
  color: var(--surface);
  background: var(--background);
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  z-index: 2;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface);
  color: var(--shadow);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-logo);
  text-shadow: var(--shadow);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0.5em 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  color: var(--surface);
  text-shadow: var(--shadow);
  border-radius: 50%;
  padding: 0.2em;
  margin: 0.5em 1em;
}

.icon:hover {
  animation: spinup 0.5s 1;
}

.icon:active {
  opacity: 0.6;
}

.arrow {
  width: 0.5em;
  height: 0.5em;
  width: 100%;
  margin: 0.3em 0em;
  position: absolute;
  left: 0em;
  right: 0em;
  bottom: 0em;
  animation: bounce 1s infinite;
}

.works {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 3em;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1em 0em;
}

#home {
  background: var(--background);
  color: var(--surface);
  text-shadow: var(--shadow);
  font-family: var(--font-title);
  font-size: 6vh;
}

#work {
  width: 100%;
  min-height: 100vh;
  height: auto !important;
}

.card {
  width: 300px;
  min-height: 400px;
  border-radius: 0.5em;
  padding: 1em;
  background: var(--background);
  color: var(--surface);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card > img {
  width: 150px;
  height: 150px;
  margin: 1em;
  align-self: center;
}

.card > .name {
  font-size: x-large;
}

.card > .description {
  font-size: medium;
}

.card > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Extra small devices (phones, 430px and down) */
@media only screen and (max-width: 430px) {
  header {
    font-size: large;
  }

  .icon {
    font-size: large;
  }

  #home {
    font-size: 4vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(1, 230px);
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 230px;
    justify-self: center;
  }

  .card > img {
    width: 100px;
    height: 100px;
    margin: 1em;
    align-self: center;
  }

  .card > .name {
    font-size: medium;
  }

  .card > .description {
    font-size: small;
  }
}

/* Smaller devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  header {
    font-size: larger;
  }

  .icon {
    font-size: x-large;
  }

  #home {
    font-size: 4vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 300px;
    justify-self: center;
  }

  .card > .name {
    font-size: large;
  }

  .card > .description {
    font-size: medium;
  }

  .card > img {
    width: 100px;
    height: 100px;
    margin: 1em;
    align-self: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    font-size: xx-large;
  }

  .icon {
    font-size: xx-large;
  }

  #home {
    font-size: 8vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 240px;
    min-height: 300px;
    height: 320px;
    justify-self: center;
  }

  .card > .name {
    font-size: x-large;
  }

  .card > .description {
    font-size: medium;
  }

  .card > img {
    width: 100px;
    height: 100px;
    align-self: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    font-size: xx-large;
  }

  .icon {
    font-size: xx-large;
  }

  #home {
    font-size: 7vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 5em;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 300px;
    min-height: 350px;
    height: 380px;
    justify-self: center;
  }

  .card > .name {
    font-size: larger;
  }

  .card > .description {
    font-size: medium;
  }

  .card > img {
    width: 130px;
    height: 130px;
    align-self: center;
  }
}

/* Large devices (laptops/desktops, 1026px and up) */
@media only screen and (min-width: 1026px) {
  header {
    font-size: xx-large;
  }

  .icon {
    font-size: xx-large;
  }

  #home {
    font-size: 6vh;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto !important;
  }

  .card {
    width: 300px;
    min-height: 350px;
    height: 380px;
    justify-self: center;
  }

  .card > .name {
    font-size: x-large;
  }

  .card > .description {
    font-size: large;
  }

  .card > img {
    width: 130px;
    height: 130px;
    align-self: center;
  }
}
