@import url("_fonts.css");
@import url("_theme.css");

@import url("_animations.css");
@import url("_mobile.css");

* {
  margin: 0em;
  padding: 0em;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: xx-large;
  color: var(--foreground);
  background: transparent;
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  z-index: 2;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface);
  color: var(--primary);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-logo);
  text-shadow: 1px 1px 2px var(--shadow);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0.5em 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  font-size: xx-large;
  color: var(--surface);
  text-shadow: 1px 1px 2px var(--shadow);
  border-radius: 50%;
  padding: 0.2em;
  margin: 0.5em 1em;
}

.icon:hover {
  animation: spinup 0.5s 1;
}

.icon:active {
  opacity: 0.6;
}

.arrow {
  width: 0.5em;
  height: 0.5em;
  width: 100%;
  margin: 0.3em 0em;
  position: absolute;
  left: 0em;
  right: 0em;
  bottom: 0em;
  animation: bounce 1s infinite;
}

.works {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 5em;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#home {
  background: var(--background);
  color: var(--surface);
  text-shadow: 1px 1px 2px var(--shadow);
  font-family: var(--font-title);
  font-size: 6vh;
}

#work {
  width: 100%;
  min-height: 100vh;
  height: auto !important;
}

.card {
  width: 300px;
  min-height: 350px;
  height: 380px;
  background-color: transparent;
  border-radius: 0.5em;
  color: var(--surface);
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  background: var(--background);
  color: var(--foreground);
  box-shadow: 1px 2px 10px var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-size: x-large;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front > img {
  width: 150px;
  height: 150px;
}

.card-back {
  transform: rotateY(180deg);
  background: var(--primary);
}

.card-back > hr {
  width: 100%;
}

.card-back > .description {
  font-size: medium;
  padding: 1em;
}

.card-back > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
