@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-logo: "Cedarville Cursive", cursive;
  --font-title: "Pacifico", cursive;
  --background: dodgerblue;
  --surface: #fefefe;
  --shadow: #222222 1px 1px 2px;
}

@keyframes spinup {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0em);
  }

  50% {
    transform: translateY(0.2em);
  }

  100% {
    transform: translateY(0em);
  }
}

* {
  margin: 0em;
  padding: 0em;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: xx-large;
  color: var(--surface);
  background: var(--background);
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  z-index: 2;
}

section {
  height: 100vh;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-logo);
  text-shadow: var(--shadow);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0.5em 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  color: var(--surface);
  text-shadow: var(--shadow);
  border-radius: 50%;
  padding: 0.2em;
  margin: 0.5em 1em;
}

.icon:hover {
  animation: spinup 0.5s 1;
}

.icon:active {
  opacity: 0.6;
}

.arrow {
  width: 0.5em;
  height: 0.5em;
  width: 100%;
  margin: 0.3em 0em;
  position: absolute;
  left: 0em;
  right: 0em;
  bottom: 0em;
  animation: bounce 1s infinite;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  color: var(--surface);
  text-shadow: var(--shadow);
  font-family: var(--font-title);
  font-size: 6vh;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface);
  color: var(--shadow);
}
